<div id="full-width-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="fullWidthModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="fullWidthModalLabel">นโยบายความเป็นส่วนตัว (Privacy Policy Notice)</h3>
            </div>
            <div class="modal-body">
                <p class="font-18 mt-3 mr-5 ml-5">
                    <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) จัดตั้งขึ้นเมื่อปี พ.ศ ๒๕๕๐ เป็นหน่วยงานในเครือข่ายภาครัฐ
                        ในความรับผิดชอบของสำนักงานกิจการยุติธรรม กระทรวงยุติธรรม ได้ให้บริการเชื่อมโยงและสืบค้นข้อมูลกระบวนการยุติธรรม  
                        เนื่องด้วยรัฐบาลได้มีนโยบายในการส่งเสริมการยกระดับการให้บริการด้วย ระบบดิจิทัล เพื่อการมุ่งสู่ Thailand ๔.๐ 
                        ที่ให้ความสำคัญกับข้อมูลเป็นหลัก โดยมีการออกกฎหมายใหม่ ได้แก่ พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. ๒๕๖๒   
                        ที่มีผลบังคับใช้ตั้งแต่วันที่ ๒๘ พฤษภาคม ๒๕๖๒ ในปีงบประมาณ พ.ศ. ๒๕๖๔ ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) 
                        ได้ดำเนินงานโครงการพัฒนาระบบรักษาความมั่นคงปลอดภัยศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) และการจัดทำนโยบาย
                        แนวปฏิบัติการคุ้มครองข้อมูลส่วนบุคคล เพื่อเตรียมการรองรับตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล เนื่องจากปัจจุบันมีการล่วงละเมิดสิทธิ
                        ความเป็นส่วนตัวของข้อมูลส่วนบุคคลเป็นจำนวนมากจนสร้างความเดือดร้อน เสียหายให้แก่เจ้าของข้อมูลส่วนบุคคล ประกอบกับความก้าวหน้า
                        เทคโนโลยีทำให้การเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล อันเป็นการล่วงละเมิดทำได้โดยง่าย จึงจำเป็นที่หน่วยงานของรัฐต้องคุ้มครอง
                        ข้อมูลต่างๆ ของประชาชน ให้สอดรับกับข้อกฎหมาย และสร้างความมั่นใจในการให้บริการของภาครัฐ ภายใต้คุณภาพของการบริการที่เหมาะสม
                        เพื่อให้ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) สามารถบริหารจัดการทางด้านการรักษาความมั่นคงปลอดภัย ด้านสารสนเทศ
                        ได้อย่างมีประสิทธิภาพ สอดคล้องตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. ๒๕๖๒
                    </dd> 
                </p>
                <p class="font-18 mr-5 ml-5">
                    <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ได้จัดทำนโยบายความเป็นส่วนตัวฉบับนี้ เพื่อชี้แจงรายละเอียดเกี่ยวกับการ 
                        เก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล ระยะเวลาในการเก็บข้อมูล การทำลายข้อมูล  อีกทั้งสิทธิของเจ้าของข้อมูลส่วนบุคคล ในส่วน 
                        ที่เกี่ยวข้องกับ https://www.dxc.go.th/  และเพื่อปฏิบัติตามหน้าที่ของผู้ควบคุมข้อมูลตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 
                        ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ขอแนะนำให้ท่านโปรดอ่านและทำความเข้าใจนโยบายความเป็นส่วนตัว (Privacy Notice) 
                        นี้เพื่อรับทราบวัตถุประสงค์ที่ศูนย์ DXC ได้เก็บรวบรวม ใช้ และเปิดเผยข้อมูล   ส่วนบุคคลของท่าน ระยะเวลาในการเก็บข้อมูล การทำลายข้อมูล 
                        ตลอดจนสิทธิของเจ้าของข้อมูลส่วนบุคคล ซึ่งท่านสามารถศึกษารายละเอียดได้ดังต่อไปนี้
                    </dd> 
                </p>
                <p class="font-18 mr-5 ml-5">
                    <dd>1. วัตถุประสงค์ของการเก็บและประมวลผลข้อมูล <br>
                        ข้อมูลส่วนบุคคลของท่านจะถูกใช้โดยศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ภายใต้ https://www.dxc.go.th/  
                        เพื่อวัตถุประสงค์ดังต่อไปนี้; <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1) การลงทะเบียนผู้ใช้งานของระบบ DXC <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2) การติดต่อสอบถามข้อมูลการให้บริการของศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3) การแจ้งปัญหาการใช้งานของระบบ DXC <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.4) การเก็บรวบรวมสถิติของผู้มาใช้บริการ เพื่อจัดทำรายงาน <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.5) บันทึกประวัติการใช้งานระบบ เพื่อการตรวจสอบ และรักษาความมั่นคงปลอดภัยของข้อมูล <br>
                    </dd> 
                </p>
                <p class="font-18 mr-5 ml-5">
                    <dd>2. ข้อมูลส่วนบุคคลที่ถูกเก็บและประมวลผล <br>
                        ในการประมวลผลเพื่อให้บรรลุวัตถุประสงค์ตามที่ได้กล่าวมาข้างต้น ทางศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) จะเก็บ ใช้ และส่งข้อมูลดังต่อไปนี้ <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1) ชื่อ นามสกุล<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2) อีเมล <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.3) หมายเลขโทรศัพท์ <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.4) หมายเลขบัตรประชาชน / หมายเลขบัตรข้าราชการ <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.5) ตำแหน่งงาน <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.6) หน่วยงานที่สังกัด <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.7) ประวัติการใช้งาน <br>
                    </dd>
                    <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ไม่มีความประสงค์ ที่จะเก็บรวบรวมข้อมูลอื่นๆ 
                        นอกเหนือไปจากที่จำเป็นต่อการปฏิบัติตามวัตถุประสงค์การประมวลผลข้อมูล และไม่มีการใช้ข้อมูลในการติดต่อ 
                        หรือข้อมูลอื่นใดนอกเหนือไปจากข้อมูลส่วนบุคคลที่ได้ระบุไว้แล้วข้างต้น ถึงแม้ว่าข้อมูลดังกล่าวจะปรากฏอยู่ในอีเมล 
                        หรือเอกสารอื่นใดที่ท่านได้สมัครใจเปิดเผยไว้ต่อศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC)
                    </dd> 
                </p>
                <p class="font-18 mr-5 ml-5">
                    3. แหล่งที่มาของข้อมูลส่วนบุคคล <br>
                    <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ได้รับข้อมูลส่วนบุคคลของท่านโดยวิธีการ 
                        ตามระบุในคู่มือการลงทะเบียนผู้ใช้งานระบบ โดยรายละเอียดอ้างอิงจาก  https://www.dxc.go.th/
                    </dd> 
                </p>
                <p class="font-18 mr-5 ml-5">
                    4. การประมวลผลข้อมูลส่วนบุคคล <br>
                    <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) มีการประมวลผลข้อมูลส่วนบุคคลของท่าน เพื่อวัตถุประสงค์ตามระบุในข้อ 1 
                        หากท่านมีความประสงค์จะถอนความยินยอมในการประมวลผลดังกล่าว ท่านสามารถติดต่อศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) 
                        และแจ้งความประสงค์ในการถอนความยินยอม โดยใช้สิทธิได้ตามข้อ 6
                    </dd> 
                </p>
                <p class="font-18 mr-5 ml-5">
                    5. การเก็บรักษาและการโอนข้อมูล <br>
                    <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) จะมีการเก็บรักษาข้อมูลของท่าน ตราบเท่าที่ข้อมูลนั้นยังจำเป็นสำหรับวัตถุประสงค์ของการรวบรวมข้อมูล 
                        และสอดคล้องตามที่กฎหมายกำหนด โดยศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) มีนโยบายในการควบคุมการจัดเก็บและทำลายเอกสารต่างๆ 
                        เมื่อสิ้นสุดระยะเวลาในการจัดเก็บแล้ว โดยวิธีที่เหมาะสมเพื่อให้ไม่สามารถระบุตัวตนได้
                    </dd> 
                    <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) อาจมีการแบ่งปันข้อมูลส่วนบุคคลของท่านให้แก่หน่วยงานภาครัฐในเครือข่าย หรือผู้ให้บริการของศูนย์ DXC 
                        ที่ให้บริการผ่านระบบ DXC ที่ตั้งอยู่ในและนอกราชอาณาจักร เพื่อการปฏิบัติตามฐานสัญญาข้อตกลงในการให้บริการหน่วยงานปลายทางที่ได้รับการโอนข้อมูลส่วนบุคคล
                        จากศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) จะต้องอยู่ภายใต้มาตรการด้านการคุ้มครองข้อมูลส่วนบุคคลตามที่กฎหมายกำหนดหรือมีมาตรการด้านการคุ้มครอง
                        ข้อมูลส่วนบุคคลที่มากกว่า ซึ่งอาจรวมถึงนโยบายคุ้มครองข้อมูลของหน่วยงาน สัญญาการประมวลผลข้อมูลและอื่นๆ (ตามแต่ที่กฎหมายกำหนด) เพื่อให้มั่นใจว่าได้มีการ
                        ใช้ข้อมูลส่วนบุคคลของท่านอย่างเป็นธรรมและรับผิดชอบตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. ๒๕๖๒ กำหนด 
                    </dd> 
                </p>
                <p class="font-18 mr-5 ml-5">
                    6. สิทธิของเจ้าของข้อมูล <br>
                    <dd>&emsp;&nbsp;ตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. ๒๕๖๒ ได้กำหนดสิทธิดังต่อไปนี้แก่เจ้าของข้อมูลดังนี้
                    </dd>
                    <dd>&emsp;&nbsp;6.1) สิทธิในการเข้าถึงข้อมูลส่วนบุคคล: ท่านมีสิทธิในการได้รับข้อมูลต่างๆ อันเกี่ยวกับข้อมูลส่วนบุคคลของท่านที่ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ถือครองอยู่
                    </dd>
                    <dd>&emsp;&nbsp;6.2) การแก้ไขข้อมูล: ท่านมีสิทธิในการที่จะร้องขอให้ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) แก้ไขข้อมูลส่วนบุคคลที่ผิดพลาดเกี่ยวกับท่าน
                    </dd>  
                    <dd>&emsp;&nbsp;6.3) การลบข้อมูล: ท่านอาจร้องขอให้ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ลบข้อมูลส่วนบุคคลของท่านเมื่อมีสถานการณ์ใดสถานการณ์หนึ่งเกิดขึ้น
                    </dd>  
                    <dd>&emsp;&nbsp;6.4) การระงับการประมวลผลข้อมูลส่วนบุคคล: ท่านมีสิทธิในการระงับการใช้ข้อมูลส่วนบุคคลของท่าน
                    </dd>
                    <dd>&emsp;&nbsp;6.5) ปฎิเสธการประมวลผลข้อมูลส่วนบุคคล: ท่านมีสิทธิในการปฎิเสธการประมวลผลข้อมูลส่วนบุคคลของท่าน
                    </dd>
                    <dd>&emsp;&nbsp;6.6) การทำให้ข้อมูลอยู่ในรูปแบบที่พกพาได้: ท่านมีสิทธิในการได้รับข้อมูลส่วนบุคคลของท่านในรูปแบบที่ใช้กันโดยทั่วไป
                    </dd>
                </p>
                <p class="font-18 mr-5 ml-5">
                    <dd>&emsp;&nbsp;ในการใช้สิทธิของท่าน หรือหากท่านต้องการสอบถามข้อมูลเพิ่มเติมเกี่ยวกับการใช้ข้อมูลส่วนบุคคลของท่าน โปรดติดต่อศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC)
                        ชั้น 9 ศูนย์ราชการเฉลิมพระเกียรติฯ อาคารรัฐประศาสนภักดี (อาคาร บี) ถนนแจ้งวัฒนะ หลักสี่ กรุงเทพฯ Tel: +66 2 141-3792  
                        Email: support&#64;dxc.go.th
                    </dd> 
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- <div class="card  mr-5 ml-5">
    <h3 class="text-center">นโยบายความเป็นส่วนตัว (Privacy Policy Notice)</h3>
    <p class="font-18 mt-3 mr-5 ml-5">
        <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) จัดตั้งขึ้นเมื่อปี พ.ศ ๒๕๕๐ เป็นหน่วยงานในเครือข่ายภาครัฐ
            ในความรับผิดชอบของสำนักงานกิจการยุติธรรม กระทรวงยุติธรรม ได้ให้บริการเชื่อมโยงและสืบค้นข้อมูลกระบวนการยุติธรรม  
            เนื่องด้วยรัฐบาลได้มีนโยบายในการส่งเสริมการยกระดับการให้บริการด้วย ระบบดิจิทัล เพื่อการมุ่งสู่ Thailand ๔.๐ 
            ที่ให้ความสำคัญกับข้อมูลเป็นหลัก โดยมีการออกกฎหมายใหม่ ได้แก่ พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. ๒๕๖๒   
            ที่มีผลบังคับใช้ตั้งแต่วันที่ ๒๘ พฤษภาคม ๒๕๖๒ ในปีงบประมาณ พ.ศ. ๒๕๖๔ ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) 
            ได้ดำเนินงานโครงการพัฒนาระบบรักษาความมั่นคงปลอดภัยศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) และการจัดทำนโยบาย
            แนวปฏิบัติการคุ้มครองข้อมูลส่วนบุคคล เพื่อเตรียมการรองรับตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล เนื่องจากปัจจุบันมีการล่วงละเมิดสิทธิ
            ความเป็นส่วนตัวของข้อมูลส่วนบุคคลเป็นจำนวนมากจนสร้างความเดือดร้อน เสียหายให้แก่เจ้าของข้อมูลส่วนบุคคล ประกอบกับความก้าวหน้า
            เทคโนโลยีทำให้การเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล อันเป็นการล่วงละเมิดทำได้โดยง่าย จึงจำเป็นที่หน่วยงานของรัฐต้องคุ้มครอง
            ข้อมูลต่างๆ ของประชาชน ให้สอดรับกับข้อกฎหมาย และสร้างความมั่นใจในการให้บริการของภาครัฐ ภายใต้คุณภาพของการบริการที่เหมาะสม
            เพื่อให้ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) สามารถบริหารจัดการทางด้านการรักษาความมั่นคงปลอดภัย ด้านสารสนเทศ
            ได้อย่างมีประสิทธิภาพ สอดคล้องตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. ๒๕๖๒
        </dd> 
    </p>
    <p class="font-18 mr-5 ml-5">
        <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ได้จัดทำนโยบายความเป็นส่วนตัวฉบับนี้ เพื่อชี้แจงรายละเอียดเกี่ยวกับการ 
            เก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล ระยะเวลาในการเก็บข้อมูล การทำลายข้อมูล  อีกทั้งสิทธิของเจ้าของข้อมูลส่วนบุคคล ในส่วน 
            ที่เกี่ยวข้องกับ https://www.dxc.go.th/  และเพื่อปฏิบัติตามหน้าที่ของผู้ควบคุมข้อมูลตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 
            ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ขอแนะนำให้ท่านโปรดอ่านและทำความเข้าใจนโยบายความเป็นส่วนตัว (Privacy Notice) 
            นี้เพื่อรับทราบวัตถุประสงค์ที่ศูนย์ DXC ได้เก็บรวบรวม ใช้ และเปิดเผยข้อมูล   ส่วนบุคคลของท่าน ระยะเวลาในการเก็บข้อมูล การทำลายข้อมูล 
            ตลอดจนสิทธิของเจ้าของข้อมูลส่วนบุคคล ซึ่งท่านสามารถศึกษารายละเอียดได้ดังต่อไปนี้
        </dd> 
    </p>
    <p class="font-18 mr-5 ml-5">
        <dd>1. วัตถุประสงค์ของการเก็บและประมวลผลข้อมูล <br>
            ข้อมูลส่วนบุคคลของท่านจะถูกใช้โดยศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ภายใต้ https://www.dxc.go.th/  
            เพื่อวัตถุประสงค์ดังต่อไปนี้; <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1) การลงทะเบียนผู้ใช้งานของระบบ DXC <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2) การติดต่อสอบถามข้อมูลการให้บริการของศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3) การแจ้งปัญหาการใช้งานของระบบ DXC <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.4) การเก็บรวบรวมสถิติของผู้มาใช้บริการ เพื่อจัดทำรายงาน <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.5) บันทึกประวัติการใช้งานระบบ เพื่อการตรวจสอบ และรักษาความมั่นคงปลอดภัยของข้อมูล <br>
        </dd> 
    </p>
    <p class="font-18 mr-5 ml-5">
        <dd>2. ข้อมูลส่วนบุคคลที่ถูกเก็บและประมวลผล <br>
            ในการประมวลผลเพื่อให้บรรลุวัตถุประสงค์ตามที่ได้กล่าวมาข้างต้น ทางศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) จะเก็บ ใช้ และส่งข้อมูลดังต่อไปนี้ <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1) ชื่อ นามสกุล<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.2) อีเมล <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.3) หมายเลขโทรศัพท์ <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.4) หมายเลขบัตรประชาชน / หมายเลขบัตรข้าราชการ <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.5) ตำแหน่งงาน <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.6) หน่วยงานที่สังกัด <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.7) ประวัติการใช้งาน <br>
        </dd>
        <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ไม่มีความประสงค์ ที่จะเก็บรวบรวมข้อมูลอื่นๆ 
            นอกเหนือไปจากที่จำเป็นต่อการปฏิบัติตามวัตถุประสงค์การประมวลผลข้อมูล และไม่มีการใช้ข้อมูลในการติดต่อ 
            หรือข้อมูลอื่นใดนอกเหนือไปจากข้อมูลส่วนบุคคลที่ได้ระบุไว้แล้วข้างต้น ถึงแม้ว่าข้อมูลดังกล่าวจะปรากฏอยู่ในอีเมล 
            หรือเอกสารอื่นใดที่ท่านได้สมัครใจเปิดเผยไว้ต่อศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC)
        </dd> 
    </p>
    <p class="font-18 mr-5 ml-5">
        3. แหล่งที่มาของข้อมูลส่วนบุคคล <br>
        <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ได้รับข้อมูลส่วนบุคคลของท่านโดยวิธีการ 
            ตามระบุในคู่มือการลงทะเบียนผู้ใช้งานระบบ โดยรายละเอียดอ้างอิงจาก  https://www.dxc.go.th/
        </dd> 
    </p>
    <p class="font-18 mr-5 ml-5">
        4. การประมวลผลข้อมูลส่วนบุคคล <br>
        <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) มีการประมวลผลข้อมูลส่วนบุคคลของท่าน เพื่อวัตถุประสงค์ตามระบุในข้อ 1 
            หากท่านมีความประสงค์จะถอนความยินยอมในการประมวลผลดังกล่าว ท่านสามารถติดต่อศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) 
            และแจ้งความประสงค์ในการถอนความยินยอม โดยใช้สิทธิได้ตามข้อ 6
        </dd> 
    </p>
    <p class="font-18 mr-5 ml-5">
        5. การเก็บรักษาและการโอนข้อมูล <br>
        <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) จะมีการเก็บรักษาข้อมูลของท่าน ตราบเท่าที่ข้อมูลนั้นยังจำเป็นสำหรับวัตถุประสงค์ของการรวบรวมข้อมูล 
            และสอดคล้องตามที่กฎหมายกำหนด โดยศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) มีนโยบายในการควบคุมการจัดเก็บและทำลายเอกสารต่างๆ 
            เมื่อสิ้นสุดระยะเวลาในการจัดเก็บแล้ว โดยวิธีที่เหมาะสมเพื่อให้ไม่สามารถระบุตัวตนได้
        </dd> 
        <dd>&emsp;&nbsp;ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) อาจมีการแบ่งปันข้อมูลส่วนบุคคลของท่านให้แก่หน่วยงานภาครัฐในเครือข่าย หรือผู้ให้บริการของศูนย์ DXC 
            ที่ให้บริการผ่านระบบ DXC ที่ตั้งอยู่ในและนอกราชอาณาจักร เพื่อการปฏิบัติตามฐานสัญญาข้อตกลงในการให้บริการหน่วยงานปลายทางที่ได้รับการโอนข้อมูลส่วนบุคคล
            จากศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) จะต้องอยู่ภายใต้มาตรการด้านการคุ้มครองข้อมูลส่วนบุคคลตามที่กฎหมายกำหนดหรือมีมาตรการด้านการคุ้มครอง
            ข้อมูลส่วนบุคคลที่มากกว่า ซึ่งอาจรวมถึงนโยบายคุ้มครองข้อมูลของหน่วยงาน สัญญาการประมวลผลข้อมูลและอื่นๆ (ตามแต่ที่กฎหมายกำหนด) เพื่อให้มั่นใจว่าได้มีการ
            ใช้ข้อมูลส่วนบุคคลของท่านอย่างเป็นธรรมและรับผิดชอบตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. ๒๕๖๒ กำหนด 
        </dd> 
    </p>
    <p class="font-18 mr-5 ml-5">
        6. สิทธิของเจ้าของข้อมูล <br>
        <dd>&emsp;&nbsp;ตามที่พระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. ๒๕๖๒ ได้กำหนดสิทธิดังต่อไปนี้แก่เจ้าของข้อมูลดังนี้
        </dd>
        <dd>&emsp;&nbsp;6.1) สิทธิในการเข้าถึงข้อมูลส่วนบุคคล: ท่านมีสิทธิในการได้รับข้อมูลต่างๆ อันเกี่ยวกับข้อมูลส่วนบุคคลของท่านที่ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ถือครองอยู่
        </dd>
        <dd>&emsp;&nbsp;6.2) การแก้ไขข้อมูล: ท่านมีสิทธิในการที่จะร้องขอให้ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) แก้ไขข้อมูลส่วนบุคคลที่ผิดพลาดเกี่ยวกับท่าน
        </dd>  
        <dd>&emsp;&nbsp;6.3) การลบข้อมูล: ท่านอาจร้องขอให้ศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC) ลบข้อมูลส่วนบุคคลของท่านเมื่อมีสถานการณ์ใดสถานการณ์หนึ่งเกิดขึ้น
        </dd>  
        <dd>&emsp;&nbsp;6.4) การระงับการประมวลผลข้อมูลส่วนบุคคล: ท่านมีสิทธิในการระงับการใช้ข้อมูลส่วนบุคคลของท่าน
        </dd>
        <dd>&emsp;&nbsp;6.5) ปฎิเสธการประมวลผลข้อมูลส่วนบุคคล: ท่านมีสิทธิในการปฎิเสธการประมวลผลข้อมูลส่วนบุคคลของท่าน
        </dd>
        <dd>&emsp;&nbsp;6.6) การทำให้ข้อมูลอยู่ในรูปแบบที่พกพาได้: ท่านมีสิทธิในการได้รับข้อมูลส่วนบุคคลของท่านในรูปแบบที่ใช้กันโดยทั่วไป
        </dd>
    </p>
    <p class="font-18 mr-5 ml-5">
        <dd>&emsp;&nbsp;ในการใช้สิทธิของท่าน หรือหากท่านต้องการสอบถามข้อมูลเพิ่มเติมเกี่ยวกับการใช้ข้อมูลส่วนบุคคลของท่าน โปรดติดต่อศูนย์แลกเปลี่ยนข้อมูลกระบวนการยุติธรรม (DXC)
            ชั้น 9 <br> ศูนย์ราชการเฉลิมพระเกียรติฯ อาคารรัฐประศาสนภักดี (อาคาร บี) ถนนแจ้งวัฒนะ หลักสี่ กรุงเทพฯ Tel: +66 2 141-3792  
            Email: support@dxc.go.th
        </dd> 
    </p>
</div> -->