.table-striped th, .table-striped td {
    border: 1px solid #46505B;
    padding: 8px;
    font-size: 20px;
}

.table-striped th {
    width: 230px;
}

.table-striped td {
    width: 350px;
    height: 87px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}