<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
            <div class="card">
              <div class="body">
                <div class="row clearfix">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><span class="glyphicon glyphicon-star-empty"
                          style="margin-left: 20px;"></span>ประวัติการเรียกดูข้อมูล
                      </h3>
                    </div>
                    <div class="panel-body">
                      <table class="table" style="width: 650px;">
                        <thead>
                          <tr>
                            <td>เวลา</td>
                            <td>ข้อมูล</td>
                            <td>รายละเอียดข้อมูล</td>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                      <i style="display:none"><span class="glyphicon glyphicon-warning-sign"></span> หมายเหตุ</i><br>
                      <i style="display:none">* การคลิกดูข้อมูลจากประวัติระบบจะต้องส่ง </i><br>
                      <i style="display:none">**
                        หากเป็นข้อมูลของบุคคลเดียวกันแต่ต่างคดีหรือเป็นข้อมูลที่ซ้ำมาจากต้นทางจะไม่ถือว่าเป็นข้อมูลซ้ำ
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>