<div id="login-thaid" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="multiple-oneModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="multiple-oneModalLabel">Login ThaiD</h4>
            </div>
            <div class="modal-body text-center">
                <i class="dripicons-checkmark h1 text-success font-36"></i>
                <h5 class="mt-0 font-20">Login ThaiD สำเร็จ</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-target="#multiple-two" data-bs-toggle="modal" data-dismiss="modal" (click)="confirmLoginThaiD()">ตกลง</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
