<div id="denied-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="denied-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="denied-modalLabel"><i class="mdi mdi-alert-circle-outline  mdi-24px"></i> โปรดดำเนินการสมัครสมาชิกให้ครบทุกขั้นตอน</h4>
      </div>
      <div class="modal-body">
        <a href="https://search.dxc.go.th/sso/sign-out?redirect_uri=https://ssc.dxc.go.th" (click)="logout()" type="button" class="btn btn-primary">ตกลง</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="denied2-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="denied2-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="denied2-modalLabel"><i class="mdi mdi-alert-circle-outline  mdi-24px"></i> กรุณาลงทะบียนผู้ใช้งาน</h4>
      </div>
      <div class="modal-body">
        <a href="https://search.dxc.go.th/sso/sign-out?redirect_uri=https://ww2.dxc.go.th/user/activate-by-email" (click)="logout()" type="button" class="btn btn-primary">ตกลง</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="denied3-modal" class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="denied3-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="denied3-modalLabel"><i class="mdi mdi-alert-circle-outline  mdi-24px"></i> 
          บัญชีผู้ใช้งานนี้ หมดอายุการใช้งานแล้ว กรุณาติดต่อผู้ดูแลระบบเพื่อขอต่ออายุการใช้งาน </h4>
      </div>
      <div class="modal-body">
        <a href="https://search.dxc.go.th/sso/sign-out?redirect_uri=https://search.dxc.go.th/secured/v2/index.html#/" (click)="logout()" type="button" class="btn btn-primary">ตกลง</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
