<section class="content home">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header font-20">
            แจ้งทราบ
          </div>
          <div class="card-body">
            <h4 class="card-title">เกิดข้อผิดพลาด</h4>
            <p class="card-text font-18">ไม่สามารถเชื่อมต่อได้ เนื่องจากสาเหตุบางประการ.</p>
            <a href="https://search.dxc.go.th/sso/sign-out?redirect_uri=https://search.dxc.go.th/secured/v2/index.html#/" (click)="logout()" class="btn btn-primary">ลองใหม่</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
