<nav class="navbar">
  <ul class="nav navbar-nav navbar-left">
    <li>
      <div class="navbar-header">
        <a href="javascript:void(0);" class="bars"></a>
        <a class="navbar-brand" href="index.html">
          <img src="assets/dist/img/DXC_logo.jpg" width="100" alt="DXC">
          <span class="m-l-10"></span>
        </a>
      </div>
    </li>

    <li>
      <div>
      </div>
    </li>
    <!-- <li class="float-right">
          <strong>เวอร์ชั่น :1.0.0-beta.201811281439</strong>
       
          <a href="https://search.dxc.go.th/sso/sign-out" class="mega-menu">
              <i class="zmdi zmdi-power"></i>
          </a>
      </li> -->
  </ul>
</nav>

<div class="row">
  <div class="col-md-12 panel" style="vertical-align: middle;position: absolute;margin-left: 25%; top: 10%">
    <form class="form-horizontal">
      <div class="font col-md-6" style="margin-top:20px;">

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">ประกาศ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default card">
          <div class="card-header">
            <h4>
              ล็อกอินเข้าสู่ระบบ
            </h4>
          </div>
          <div style="padding: 5%;">
            <div>
              <div>
                <input type="text" style="width: 100%" placeholder="UserName">
              </div>
              <div style="margin-top: 20px">
                <input type="text" style="width: 100%" placeholder="Password">
              </div>
            </div>
            <div style="margin-top: 20px">
              <input type="checkbox">เข้าสู่ระบบแอดมิน (เฉพาะผู้ใช้งานระดับ Admin)
            </div>

          </div>

          <div style="margin-top: 80px;margin-right: 5px">

            <div align="right">
              <a style="margin-right: 5px" href="#">ลงทะเบียน</a>
              <a style="margin-right: 5px"> |</a>
              <a style="margin-right: 5px" href="#">ลืมรหัสผ่าน</a>

              <input class="btn btn-info" type="submit" value="เข้าสู่ระบบ">
              <br />
            </div>
          </div>

        </div>
      </div>
    </form>

  </div>
</div>